// input number
input[type='number'] {
	&::-webkit-inner-spin-button {
		-webkit-appearance: none;
	}

	&::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}
}

input[type='number'] {
	-moz-appearance: textfield;
}

input[type='number']:hover,
input[type='number']:focus {
	-moz-appearance: number-input;
}

input[type="search"] {

	&::-webkit-search-decoration,
	&::-webkit-search-cancel-button,
	&::-webkit-search-results-button,
	&::-webkit-search-results-decoration {
		-webkit-appearance: none;
	}
}

// SWITCHER
/* .switcher-input {
	display: none;
}

.switcher-input+.switcher-style {
	position: relative;
	padding: 0 0 0 6rem;
	cursor: pointer;

	&:before,
	&:after {
		content: '';
		position: absolute;
		transition: .2s;
	}

	&:before {
		top: -0.8rem;
		left: 0;
		width: 4rem;
		height: 2.4rem;
		border: 0.1rem solid $dark-gray;
		border-radius: 3.4rem;
	}

	&:after {
		top: -0.4rem;
		left: 0.4rem;
		width: 1.6rem;
		height: 1.6rem;
		background: $dark-gray;
		border-radius: 50%;
	}
}

.switcher-input:checked+.switcher-style::after {
	left: 2rem;
} */
