@mixin rect($verticalPosition, $horizontalPosition, $verticalOffset, $horizontalOffset, $h, $bg) {
	content: '';
	position: absolute;

	@if $verticalPosition=='top' {
		top: $verticalOffset;
	}

	@else if $verticalPosition=='bottom' {
		bottom: $verticalOffset;
	}

	@if $horizontalPosition=='left' {
		left: $horizontalOffset;
	}

	@else if $horizontalPosition=='right' {
		right: $horizontalOffset;
	}

	width: var(--gap);
	height: $h;
	background: $bg;
}
