$icon-sizes: 8,
10,
12,
14,
16,
18,
20,
24,
26,
28,
30,
32,
36,
40,
42,
82;

@each $size in $icon-sizes {
    .icon--size_#{$size} {
        width: $size + px;
        height: $size + px;
    }
}

.icon {
    &--size {
        &_xs {
            width: 12px;
            height: 12px;
        }

        &_s {
            width: 16px;
            height: 16px;
        }

        &_m {
            width: 20px;
            height: 20px;
        }

        &_l {
            width: 24px;
            height: 24px;
        }

        &_xl {
            width: 28px;
            height: 28px;
        }

        &_xxl {
            width: 32px;
            height: 32px;
        }
    }
}
