.ttu {
    text-transform: uppercase;
}

.touch-hidden {
    @media (max-width: 1024px) {
        display: none;
    }
}

.touch-visible {
    display: none;

    @media (max-width: 1024px) {
        display: block;
    }
}

.mob-hidden {
    @media (max-width: 767px) {
        display: none;
    }
}
