.container {
	width: calc(var(--container-width) + var(--container-padding) * 2);
	max-width: 100%;
	@include padding-x(var(--container-padding));
	margin: 0 auto;
}

.wrapper {
	position: relative;
	@include flex-column;
	min-height: 100vh;
	overflow-x: hidden;
}

.page {
	position: relative;
	flex: 1 0 auto;
}
