.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.full-link {
    position: relative;
    
	&::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}

// text border
/* .border-text {
	color: black;
	-webkit-text-fill-color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

// gradient-text
.gradient-text {
	background: -webkit-linear-gradient(#eee, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
} */

// COUNTER LIST
/* ol.counter {
	counter-reset: num;

	li {
		position: relative;

		&:before {
			content: counter(num);
			counter-increment: num;
			position: absolute;
		}
	}
} */
