.menu {
	&__list {
		display: flex;
		flex-wrap: wrap;

		@include media('1025', min) {
			justify-content: space-between;
		}
	}

	&__link {
		@include flex-center-y;
		gap: rem(7);
		padding: rem(10);
		@include font-size(18, 22);
		color: var(--white);

		svg {
			width: rem(11);
			height: rem(11);
			fill: var(--white);
		}
	}
}
